@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    background-image: url('../img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mainnav_ {
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    display: flex;
    -webkit-box-shadow: 5px 4px 15px 5px rgba(0, 0, 0, 0.150); 
box-shadow: 5px 4px 15px 5px rgba(0, 0, 0, 0.150);
    flex-direction: row;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
}

.mainnav_ img {
    height: 40px;
    margin: 10px;
    margin-left: 15px;
}

.YT {
    color: red;
}

#fileFormatLogoTitle {
    font-style: underline;
    font-weight: 300;
    color: rgb(0, 0, 0);
}


.mainnav_rightsidediv {
    margin-left: auto;
    justify-content: center;
    margin-right: 20px;
    height: inherit;
    background-color: transparent;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#github {
    height: 40px;
    border-radius: 15px;
    width: 40px;
    transition: all 0.3s ease;
}

#github:hover {
    height: 50px;
    width: 50px;
}

#youtube_nav_url {
    height: 45px;
    font-family: "Montserrat", sans-serif;
}

#youtube_nav_url_button {
    border: none;
    height: inherit;
    padding: 3px 15px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease;
    background-color: rgb(228, 33, 33);
    color: white;
}

#youtube_nav_url_input {
   height: inherit;
   outline: none;
   border: 0.5px solid gray;
   font-family: "Montserrat", sans-serif;
    padding: 0px 15px;
    border-radius: 5px;
}

#youtube_nav_url_button:hover {
   background-color: rgb(255, 86, 86); 
   border: 2px solid rgb(200, 0, 0);
   font-weight: 700;
}

.mainsection_ {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
}

.mainsection_ h2 {
    font-size: 2.6rem;
    text-align: center;
}

#highlightedText {
    color: red;
    font-weight: 800;
}

#youtube_url_form {
    background-color: transparent;
    padding: 30px 90px;
}

#youtube_url_input {
    width: 300px;
    font-family: "Montserrat", sans-serif;
    height: 55px;
    border-radius: 6px;
    border: 0.5px solid gray;
    outline: none;
    padding: 0px 15px;
    transition: all 0.3s ease;
}

#youtube_url_input:focus {
    border: 2px solid rgb(228, 33, 33);
}

#youtube_url_button {
    height: 56px;
    border: none;
    border-radius: 6px;
    padding: 0px 20px;
    background-color: rgb(228, 33, 33);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease;
}

#youtube_url_button:hover {
    background-color: rgb(245, 57, 57);
    border: 2px solid rgb(200, 0, 0);
    font-weight: 700;
}